@import "./nord.css";
@import "tachyons";

:root {
  --color-fg: var(--nord0);
  --color-bg: var(--nord6);

  --color-youtube: #f00;
  --color-twitter: #1da1f2;
  --color-facebook: #4267b2;
  --color-http: grey;
}

.color-main {
  color: var(--color-fg);
}

.color-inverted {
  color: var(--color-bg);
}

.bg-main {
  background-color: var(--color-bg);
}

.bg-inverted {
  background-color: var(--color-fg);
}

.b--main {
  border-color: var(--color-fg);
}

.inverted {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

.bg-youtube {
  background-color: var(--color-youtube);
}

.bg-twitter {
  background-color: var(--color-twitter);
}

.bg-facebook {
  background-color: var(--color-facebook);
}

.bg-http {
  background-color: var(--color-http);
}
